.is-active {
	color: rgb(29 78 216)
}

.tocmain {
	margin: 0 auto;
	display: grid;
	padding: 10px;
	grid-template-columns: auto 250px;
	grid-gap: 30px;
	align-items: flex-start;
}

.header-link {
	border-inline-start: 1px solid #808080
}
.header-link:hover {
	border-inline-start: 1px solid #FFFFFF
}
