---
import { QwikApp } from "../components/app";
---


<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Datagrove</title>
		<script src="https://js.stripe.com/v3/"></script>
	</head>
	<body class='prose dark:prose-invert dark:bg-black dark:text-white'>
		<QwikApp url={Astro.url}/>
	</body>
</html>
../components/page.tsx